<form name="login_form" class="form-horizontal" role="form" ng-submit="login(user)" novalidate>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-offset-1 col-sm-2 control-label">Email</label>

        <div class="col-sm-7">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Email" ng-model="user.password" required required>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-offset-1 col-sm-2 control-label">Password</label>

        <div class="col-sm-7">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model="user.password" required required>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class=" col-sm-3 control-label">Confirm password</label>

        <div class="col-sm-7">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Confirm password" ng-model="user.password" required required>
        </div>
    </div>
</form>